<h1>Upload an image</h1>

<%= form_with(url: images_create_path, method: "post",  :html => {:class => "form-horizontal center"}) do |form| %>
  <% if @image.errors.any?  %>
    <div class="alert alert-danger" role="alert">
      <%= @image.errors.full_messages.first %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label(:files, "Choose Files:") %>
    <%= form.file_field :files, multiple: true,  :required => true %>
    <%# , :accept => "application/jpeg, application/png, application/"%>
  </div>
  <div class="form-group">
    <%= form.label(:title, "Image Title:") %>
    <%= form.text_field :title %>
  </div>
  <div class="form-group">
    <%= form.label(:tags, "Choose Tags:") %>
    <%= form.text_field :tags%>
  </div>
  <div class="form-group">
    <%= form.label(:private, "Make Picture Public:") %>
    <%= form.check_box :private %>
  </div>

  <%= submit_tag("Upload", :class => "btn btn-primary") %>



<% end %>
