<!DOCTYPE html>
<html>
  <head>
    <title>ImageRepo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <%= link_to "Home", root_path, :class => "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Upload", images_upload_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Download All", { controller: :images, action: :download_all }, method: :post, data: { confirm: 'Are you sure?' }, :class => "nav-link btn"  %>
          </li>
          <li class="nav-item">
            <%= button_to "Delete All", { controller: :images, action: :destroy_all }, method: :delete, data: { confirm: 'Are you sure?' }, :class => "nav-link btn"  %>
          </li>
        </ul>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
